
<div class='col'>
    <%= link_to "My Portfolio", root_path %>
</div>
<div class='col'>
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Projects", projects_path %>
</div>
<div class='col text-end'>
    <% if logged_in?(:site_admin) %>
        <%= button_to 'Logout', destroy_user_session_path, methog: :delete, class: 'logout-btn' %>
    <% else %>
        <%= link_to 'Login', new_user_session_path %>
    <% end %>
</div>