<div class='project-form-container'>
  
  <%= form_with(model: project) do |form| %>
    <% if project.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
          <% project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='project-form-card'>
      <div class='form-group'>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title, class: 'form-control form-input' %>
      </div>

      <div class='form-group'>
        <%= form.label :description, style: "display: block" %>
        <%= form.text_area :description, rows: 6, class: 'form-control form-input' %>
      </div>

      <div class='form-group'>
        <%= form.label :video_url, style: "display: block" %>
        <%= form.text_field :video_url, class: 'form-control form-input' %>
      </div>

      <div class='form-group'>
        <%= form.label :thumbnail, style: "display: block" %>
        <%= form.file_field :thumbnail, :image, class: 'form-control' %>
      </div>

      <div class='btn-wrapper'>
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>