<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <%= project.thumbnail %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= project.video_url %>
  </p>

</div>
