<div class='project-container'>  
  <p style="color: green"><%= notice %></p>

  <div class='project-show-container'>
    <div class='project-show-wrapper'>
      <div class='show-video-wrapper'>
        <video controls width="600" height="450">
          <source src="<%= @project.video_url %>" type="video/mp4">
        </video>
      </div>
      <div class='show-description-wrapper'>
        <h2><%= @project.title %></h2>
        <% if logged_in?(:site_admin) %>
          <p><%= link_to @project.status, toggle_status_project_path(@project) %></p>
        <% end %>
        <hr>
        <p><%= @project.description %></p>
    </div>

    <div class='actions-wrapper'>
      <%= link_to "Back to projects", projects_path %>
      <%= link_to "Back to Home", root_path %>

      <% if logged_in?(:site_admin) %>
        <%= link_to "Edit this project", edit_project_path(@project) %>
        <%= button_to "Destroy this project", @project, method: :delete %>
      <% end %>
    </div>
  </div>
</div>
